*{margin: 0;padding: 0;list-style: none;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {margin: 0;padding: 0;}
html,body{width:100%;height:100%}

/*box主体样式*/
.box .box-title{padding: 20px 20px 0 20px;}
.box .box-title .form-control{vertical-align: middle;}
.box .box-title a{
	color: white;
	text-decoration: none;
	padding: 0 20px;
	background:  #2678D4;
}
.box .box-content{padding: 20px 20px;}

/* 表单基础样式 */
#forms .form-group{margin-top: 15px;overflow: hidden;}
#forms .control-label{float: left;width: 6%;}
#forms .form-value{float: left;}
#forms .form-submit{padding-top: 20px;}

/* 表格基础样式 */
#tables{border-collapse: collapse;width: 100%;}
#tables thead{background: #F5F5F5;}
#tables th,tr,td{border: 1px solid black;}

/* 页数样式 */
.footer{
	float:right;width:100%;min-width:600px;position:relative;z-index:1;font-size:13px;
	margin-top: 10px;
}