*{margin: 0;padding: 0;list-style: none;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-left:20px;
  padding-right: 20px;
}
html{width: 100%;  height: 100% ;font-size: 62.5%;}
body{ width: 100%; min-width: 150rem;height: 100% }
#index_left{
    background-color:  #2F323A;
    height: 100%;
    min-width: 20rem;
    width: 16%;
    overflow: hidden;
    float: left;
}
#index_left .active_leftitem{
    background: #2678D4;
}
#index_left div{
    font-size: 2.5rem;
     cursor: default;
    color: white;
   padding: 30px 0;
}
#index_right{
    float: left;
    width: 84%;
    min-width: 100rem;
    height: 100%;  
    min-height: 60rem;  
}
#index_right .right_topdiv{
width: 100%;height: 8%; vertical-align: middle;
}
#index_right .right_top{
    float: right;margin:1rem  2rem  0 0;
    font-size: 2.5rem;
}
#index_right .right_top .right_topitem{vertical-align: middle;padding: 0;margin-left: 1rem;}
#index_right .right_middle {
    font-size: 2rem;
    background: #F5F5F5;
    overflow: hidden;
    width: 100%;
    height: 92%;
}
#index_right .right_middle ul{
    padding: 15px 0 15px 20px;
    display: none;
}
#index_right .right_middle li{
    cursor: default;
    display: inline;
    margin-right: 10px;
}
.activeli{
    color: #2678D4;
}
#iframebox{
    margin: 0 2rem;
    border: 1px solid black;
    width: 97%;height: 90%;
    background: white;
}